body{
    background-color: #f4e7de;
}
*{
    margin: 0;
    padding: 0;
}
input{
    margin: 0;
    padding: 0;
    padding-left: 8px;
    border: 0;
    height: 19px;
}
ul, li{
    list-style: none;
}
a{
    color: #73716f;
    text-decoration: none;
}
.wrapper{
    width:100%;
}
.wrapper>*{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
header{
    position: relative;
    background-color: #f4e7de;
    padding-top: 50px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin: 0 20px;
}
header ul li:nth-child(3){
    transform: translateY(-20px);

}
header .login{
    position: absolute;
    top: 20px;
    right: 15px;
}
.login img{
    display: block;
    width: 25px;
}
.login span{
    display: inline-block;
    margin-right: 8px;
}

/* ------Content ----*/
main{
    background-color: white;
    padding: 10px 0 5px 0;
}
h2,h3,h4,h5,h6{
    text-align: center;
    margin: 10px 0 15px 0;
}

.pc{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*------- Bouquets --------*/
.drinks-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.drinks-col img{
    width: 75%;
    border-radius: 10px;
    padding-left: 30px;
}

.drinks-col p{
    padding-left: 30px;
}
.drinks-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 35px;
    text-align: left;
}
.price{
    text-align: left;
    padding-left: 30px;
    color: red;
    font-size: medium;
}
.drinks-col>button{
    background-color: #03340d;
    border:none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 150px;
    margin-left: 40px;
}
/*----- footer------ */
footer{
    background-color: #f4e7de;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.map, .contact{
    margin: 0 50px;
}
.map img{
    width: 250px;
}
footer img{
    display: block;
}
.email img{
    width: 80px;
}
.email{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.markLogo img{
    width: 60px;
    margin: 0 auto;
}

.detail{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.detail .news{
    margin-right: 35px;
}
.detail .news h5{
    text-align: left;
    margin: 0;
}
.detail .news .new{
    margin-bottom: 10px;
}
.detail .news .new p{
    font-size: 12px;
    margin: 0;
    color: #73716f;
}