@import url("http://fonts.cdnfonts.com/css/vogue");
@import url("http://fonts.cdnfonts.com/css/magazine"); /* font-family: 'Magazine', sans-serif; */
@import url("http://fonts.cdnfonts.com/css/champagne-limousines"); /* font-family: 'Champagne & Limousines', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
  /* max-width: 1420px;
  margin-left: auto;
  margin-right: auto; */ /*possibly for setting a smaller page width*/
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  display: block;
}

h1 {
  font-family: "Magazine", sans-serif;
}
h2 {
  font-family: "Champagne & Limousines", sans-serif;
  font-size: 1em;
}

nav {
  /* width: 90%;  */
  margin: auto;
  top: 0;
  /* position: sticky; */
  background-color: #f0e2d6;
  overflow: hidden;
  /* opacity: 0.8;
  box-shadow: 0 4px 10px -2px rgba(0,0,0,0.1);
  z-index: 0; */
}

#logo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  top: 50%;
  left: 50%;
}

.logo ul {
  list-style-type: none !important;
}

.links {
  text-align: center;
  font-weight: 900;
  font-family: "Vogue", sans-serif;
  letter-spacing: 3px;
  padding-bottom: 3px;
}

.links li {
  display: inline;
  color: #000000;
  text-align: center;
  padding: 5px 16px;
  font-size: 20px;
}
.links li a:hover,
a:visited,
a:link,
a:active {
  color: #000000;
  text-decoration: none !important;
  list-style-type: none;
}

.links li a:hover,
a:active {
  color: green;
   text-shadow: 1px 1px 2px rgba(128, 0, 128, 0.342);
}

.toggle-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #00000091;;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
  }

  .toggle-button {
      display: flex;
  }

  .links {
      display: none;
      width: 100%;
      
  
  }

  .links ul {
      width: 100%;
      flex-direction: column;
  }

  .links ul li {
      text-align: center;
  }

  .links ul li a {
      padding: .5rem 1rem;
  }

  .links.active, .links li a:hover {
    background-color: #e1e3e6;
    border: none;
    color: rgb(49, 27, 27);
      display: flex;
  }
}
/* .icon i {
display: inline;
padding: 100 100;
position: absolute;
   top:0;
   right:0;
  color: #000000;
  font-size: 25px;
} */

/* The hero image */
.hero_img-container {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.247)),
    url("../images/hero_img.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_img-container h1 {
  color: White;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  position: relative;
  top: 40%;
}

.hero_form {
  font-family: "Champagne & Limousines", sans-serif bold;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #666666bb;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  line-height: 18px;
  width: 50em;
  text-align: center;
}

input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 0.15rem;
  padding: 1.5rem 1.9rem;
  display: inline-block;
}

.hero-button {
  font-size: 16px;
  background-color: #000000;
  color: whitesmoke;
  padding: 1.3rem 0.99rem;
}
.hero-button:hover {
  cursor: pointer;
  background-color: rgba(151, 144, 144, 0.638);
  box-shadow: 0 0.75rem 0.8rem -0.8rem rgba(230, 179, 179, 0.636);
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
}

input[type="date"] {
  color: #423838;
  padding: 1.4rem 2rem;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

/* Slideshow container */
.slideshow {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 800px;
}

/* Hide the images by default */

.mySlides {
  display: none;
  width: 200%;
  height: 800px;
}

.mySlides img {
  height: 100%;
  object-fit: cover;
}
img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  /* image-rendering: pixelated; */
  /* image-rendering: crisp-edges; */
  /* image-rendering: optimizeQuality; */
  -ms-interpolation-mode: nearest-neighbor;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.8);
  font-size: 45px;
  font-weight: bolder;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: #504c4c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 60px;
}

.active,
.dot:hover {
  background-color: #504c4c;
  border: #000000 solid 2px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* for image and catagory*/
.arrangements-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.arrangements-container:hover {
  background-color: #415541b5;
  color: whitesmoke;
  /* opacity: 0.8; */
  box-shadow: 0 14px 20px -2px rgba(0, 0, 0, 0.277);
}
.arrangements-container .columns {
  flex: 1;
  padding: 80px 0px;
  width: 15%;
}
.arrangements-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 900px;
}

.arrangements-container .columns.image img:hover {
  opacity: 0.4;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.424);
}
/* .arrangements-container .columns.content .content-container {
  padding: 45px;
  border: blue 3px solid;
} */
.arrangements-container .columns.content .content-container h5 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-family: "Magazine", sans-serif;
}
.arrangements-container .columns.content .content-container p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 15px;
  font-family: "Champagne & Limousines", sans-serif;
}

@media screen and (max-width: 800px) {
  .arrangements-container {
    flex-flow: row wrap;
  }

  .arrangements-container .columns.image {
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }
  .arrangements-container .columns.content {
    display: inline-block;
    order: 2;
    width: 100%;
  }
  .arrangements-container .columns.content .content-container {
    padding: 20px 35px;
  }
  .arrangements-container .columns.content .content-container {
    margin-bottom: 5px;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid rgb(105, 107, 105);
  border-radius: 2px;
}

/*mid-section with slideshow and arrangements*/

.float-container {
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  display: block;
  overflow: hidden;
  width: 100%;
  max-height: 800px;
  max-width: max-content;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .float-container {
    max-width: 1140px;
  }
}
@media (min-width: 1100px) {
  .float-container {
    max-width: 1000px;
  }
}

.float-child {
  width: 50%;
  float: left;
  padding: 10px;
  /* border: 2px solid red; */
}

/*in place just for visually checking parameters*/
/* .float-child.left {
  float: left;
  width: 50%;
  background-color: orange;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.float-child.right {
  float: left;
  width: 50%;
  margin-right: -1px;
  border-left: 1px solid black;
  background-color: red;
  padding-bottom: 500em;
  margin-bottom: -500em;
} */

/*faqs*/
#faqs {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  text-align: center;
  /* border:rgba(0, 0, 0, 0.5) solid; */
}

.questions {
  background-color: #314331;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 5px;
}

.active,
.questions:hover {
  background-color: #415541;
}

.questions_content {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border-bottom: rgb(207, 207, 207) solid 1px;
  border-left: rgb(207, 207, 207) solid 1px;
  border-right: rgb(207, 207, 207) solid 1px;
  box-shadow: rgba(128, 128, 128, 0.507) 0.5px 1.5px;
  text-align: left;
}

.footerholder {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  text-align: center;
  width: 100%;
  position: relative;
margin-top: 2vw;
padding: 1vw 5vw;
background-color: #40403f;
  display: flex;
}

footer{
  position: relative;
margin-top: 2vw;
padding: 1vw 5vw;
background-color: #40403f;
  display: flex;
}

.map {
  width: 40px;
  display: flex;
  padding: 15px;
}

.map div:nth-child(2) {
  margin: 0px 10px;
}

.snd-section {
position: relative;
left: 10vw;
}

.socials li{
list-style: none;
display: inline-block;
margin-left: 1vw;
}

.socials li i{
color:#b7a2a2;
display: flex;
font-size: 2.1rem;
height: 40px;
padding-top: 10px;
}


#newsletter{
position: relative;
top: 2vw;
left: 1vw;
/* width: 40vw; */
background: none repeat scroll 0% 0%;
}

#newsletter h3{
color: #ddc5c5;  
font-weight: bolder;
font-size: 30px;
text-align: center;
margin: 10px 0px;
}
.socials a {
text-decoration: none;
display: inline-block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
#newsletter form .newsletteremail {
  font-family: Open Sans;
border: none;
  font-size: 1vw;
  padding: 1vw 2vw;
  border-radius: 3px;
  width: 20vw;
}
#newsletter form .newsletterbtn {
outline: none;
border: none;
padding: 1vw 2vw;
border-radius: 3px;
color: #fff;
background: #606366;
cursor: pointer;
}



#footer-info-tbl {
border-collapse: separate;
border-spacing: 1vw;
position: relative;
left: 20px;
text-align: center;
/* border:#000000 solid 4px; */
}
footer th {
text-decoration: underline rgb(157, 145, 145);
font-size: 23px;
color: #cc9292;
padding-top: 25px;
}


footer td {
text-align: center;
line-height: 19px;
color: #e5d4d4;
}

footer p{
color:#cc9292;
text-align: center;
margin-top: 2vw;
}

.copyright {
position: absolute;
font-size: 0.9em;
text-align: center;
margin: 0;
bottom:0;
}


@media screen and (max-width: 700px) {
	.footerholder {
		display: none;
	}
  .hero_form, .hero-button {
    width: 100%;
    margin-top: 0;
    /* padding: 5px 5px; */
    line-height: 15px;
  }
  .hero_img-container h1{
    font-size: 30px;
    position: relative;
    top: 20%;
  }
}

@media screen and (max-width: 900px) {
	.mapouter,  .arrangements-container .columns.image {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
.arrangements-container .columns.content{
    flex: 100%;
    max-width: 100%;
  }
}